textarea {
  min-height: 400px;
}
body {
  /* margin-top: 100px; */
  background: #eee;
}

/* EMAIL */
.email {
  padding: 20px 10px 15px 10px;
  font-size: 1em;
}

.email h2 {
  margin-top: 0;
  padding-bottom: 8px;
}

.email .nav.nav-pills > li > a {
  border-top: 3px solid transparent;
}

.email .nav.nav-pills > li > a > .fa {
  margin-right: 5px;
}

.email .nav.nav-pills > li.active > a,
.email .nav.nav-pills > li.active > a:hover {
  background-color: #f6f6f6;
  border-top-color: #dc3545;
}

.email .nav.nav-pills > li.active > a {
  font-weight: 600;
}

.email .nav.nav-pills > li > a:hover {
  background-color: #f6f6f6;
}

.email .nav.nav-pills.nav-stacked > li > a {
  color: #666;
  border-top: 0;
  border-left: 3px solid transparent;
  border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active > a,
.email .nav.nav-pills.nav-stacked > li.active > a:hover {
  background-color: #f6f6f6;
  border-left-color: #dc3545 !important;
  color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
  color: #777;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0 10px 0;
}

.email table {
  font-weight: 600;
}

.email table a {
  color: #666;
}

.email table tr.read > td {
  background-color: #f6f6f6;
}

.email table tr.read > td {
  font-weight: 400;
}

.email table tr td > i.fa {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

.email table tr > td.action {
  /*   padding-left: 0px;*/
  padding-right: 2px;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-header:after {
  clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
}

.grid .grid-header span {
  padding: 0 5px;
}

.grid .grid-header > .fa {
  padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
  padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
  color: #999999;
  padding-left: 10px;
  cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
  color: #666666;
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.grid .full {
  padding: 0 !important;
}

.grid .transparent {
  box-shadow: none !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.grid.no-border > .grid-header {
  border-bottom: 0px !important;
}

.grid.top > .grid-header {
  border-top-width: 4px !important;
  border-top-style: solid !important;
}

.grid.bottom > .grid-body {
  border-bottom-width: 4px !important;
  border-bottom-style: solid !important;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-stacked > li {
  float: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
tbody > tr:hover {
  background-color: #f5f5f5;
}

#compose_btn {
  font-size: 1.2rem;
  font-weight: 600;
}
.email-hover {
  cursor: pointer;
}
.subject-email {
  position: relative;
  top: 6px;
}
#email_body {
  font-size: 16px;
  color: black;
}

.toast {
  width: 260px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.25rem;
}
.translate-middle {
  transform: translate(-50%, -120%) !important;
}
